body {
    background-image: url(imgs/gojira-eyes-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    box-sizing: border-box;
    padding-top: 70px;

    display: flex;
    justify-content: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.background-login {
    background-image: url(imgs/gojira-head-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    backdrop-filter: blur(3px);
    border: 1px solid lightcyan;
    box-shadow: 2px 2px 20px 2px darkblue;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 220px;
    max-height: 500px;
    height: 500px;
    overflow: hidden;
    text-align: center;
    padding: 100px;
}

.background-register {
    padding: 0px;
}

.error-message{
    position: fixed;
    bottom: 5px;
}

form {
    backdrop-filter: blur(3px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    padding: 50px;

    border-radius: 4px;
    height: fit-content;
    width: fit-content;
}

form {
    backdrop-filter: blur(3px);

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    padding: 10px;
}

input {
    margin-top: 10px;
    background: none;

    border: 1px black solid;
    border-radius: 4px;

    text-align: center;
    color: lightpink;
    font-weight: bold;

    backdrop-filter: blur(10px);
}

input:hover {
    box-shadow: 0px 2px 2px 0px lightskyblue;
    background-color: lightyellow;
    background-color: rgba(0, 68, 95, 0.418);
}


button {
    font-weight: bold;
    margin-top: 10px;
    border: 1px black solid;
    border-radius: 4px;
    transition: 0.2px;
    color: black;

    width: fit-content;
}
#submit-button{
    background-color: rgba(0, 4, 255, 0.7);
    font-size: 15px;
}

#register-button{
    font-size: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}

button:hover {
    box-shadow: 0px 2px 2px 0px lightskyblue;
}


::placeholder {
    color: lightpink;
}

h1 {
    padding: 0px;
    margin: 0px;
    position: fixed;
    top: 60px;

    color: lightpink;
}

footer {
    padding: 3px;
    backdrop-filter: blur(3px);
    box-shadow: 2px 2px 20px 2px darkblue;
    border-radius: 3px;
    color: lightgray;
    width: 100%;
    height: inherit;
    text-align: center;
    position: fixed;
    bottom: 0px;

}